@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #FFFFFF;
    --grey: lightgrey;
    --black: black;
    --lightblue: #D5E1EF;
}

body {
    background-color: var(--lightblue);
}

#card {
    background-color: var(--white);
}